
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
}
 img  {
    margin-top: 10px;
    border-radius:50px ;

}
.encabezado3 {
    width: 100% ;
    overflow: hidden;
    background-color:  #ffd528;
}

.encabezado3 h1 {
    font-family: luminari;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 5%;
}

.encabezado3 img {   
  float: left;
  width : 13%;
  position: relative;
}

.encabezado3 nav {
    max-width: 100% ;
    background-color:black ;
    overflow: hidden;
    
  }
.encabezado3 a {
    font-family: sans-serif ;
    font-size: 15px;
    text-decoration: none ;
    float: right ;
      padding: 2% 3%;
      color: white;
      text-align: right;
      letter-spacing: 1px;
}
.form-registro {
    width: 600px;
    padding: 30 px;
    margin: auto;
    margin-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.controls {
    width: 100%;
    background: #FFFFFF;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 15px;
}
.form-registro .boton {
    width: 100%;
    background: black;
    color: white;
    border: none;
    padding: 12px;
    margin: 10px 0;
}
.derechos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(35, 28, 28) ;
    color: #FFFFFF;
}
.form-registro {
    width: 50%; /* Ajusta el ancho según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
}

.form-registro form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-registro label {
    margin-bottom: 10px; /* Espacio entre etiquetas y campos de entrada */
}

.form-registro .controls {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-registro input[type="submit"] {
    width: 100%;
    background: black;
    color: white;
    border: none;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}
